@media(max-width:991px){

.hero-title{

font-size:48px;

}

.hero-buttons{

flex-direction:column;

}

.hero-users{

margin-top:30px;

}

.hero-image{

margin-top:50px;

}

.floating-card{

display:none;

}

}